#Server port
PORT=5000

#Db Config 
DATABASE_URL=postgresql://dev:dev@localhost:5432/medical_db

#App URL
FRONTEND_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:5000


#Auth Config
GOOGLE_CLIENT_ID=yyyyyyyyyyyyyyyyyyy-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-I_yyyyyyyyyyyyyyyyyyyyyyyyy


#Email Config
SMTP_LOGIN_BREVO=9b8290001@smtp-brevo.com
SMTP_KEY_BREVO=yyyyyyyyyy-zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz-xxxxxxxxxxxxxxxx